{% extends 'base.html' %}

{% block name %}
    <a href="/empresa" class="d-block">{{empresa}}</a>
{% endblock %}


{% block wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-4">
          {% if titulo %}
          <h1 class="m-0">{{ titulo }}</h1>

          {% endif %}

        </div><!-- /.col -->
        <div class="col-sm-4 justify-content-end">
          <!--  -->
          <!-- <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Starter Page</li>
          </ol> -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->


  <div class="content">
    <div class="container-fluid">
      <!-- <h2>Holass1 </h2>
        <h1>{{ empresa}}</h1> -->


      {% if object %}

      <form action="." method="POST" enctype="multipart/form-data">
        {% if form.errors %}

        {{ form.errors }}

        {% endif %}
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.estado.label }}
          </br>
          {{ form.estado }}
        </div>
        <div class="input-group mb-3">
          {{ form.NombreMultimedia.label }}
          {{ form.NombreMultimedia }}
        </div>
        <div class="input-group mb-3">
          {{ form.Texto.label }}
          {{ form.Texto }}
        </div>
        <div class="input-group mb-3">
          <label for="">
            {{ form.Imagen.label }}
          </label>
          {{ form.Imagen }}
        </div>
        <div class="row">
        
          <!-- /.col -->
          <div class="col-3">
            <button type="submit" class="btn btn-primary btn-block" value="save">Guardar</button>
          </div>
          <!-- /.col -->
        </div>
    </div>
  </div>

</div>
</form>

{% endif %}







<!-- /.row -->
</div><!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock wrapper %}